.burger:after, .burger:before, .burger {
    transition: all 0.25s;
    content: "";
    position: absolute;
    left: 0;
    height: 6px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.95);
}

.burger {
    position: fixed;
    left: 12px;
    top: 24px;
}

.burger:before {
    top: -8px;
}

.burger:after {
    top: 8px;
}

.menu-expanded .burger:after, .menu-expanded .burger:before {
    transition: all 0.25s;
    top: 0px;
}

.menu-collapsed {
    transition: all 0.25s;
    position: fixed;
    top: 10px;
    left: 9px;
    height: 36px;
    width: 36px;
    z-index: 1;
    cursor: pointer;
}

.menu-collapsed a {
    transition: all 0s;
    position: fixed;
    left: -9000px;
}

.menu-expanded {
    transition: all 0.25s;
    text-align: center;
    line-height: 200px;

    height: 100%;
    width: 100%;

    border-radius: 0px;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.menu-expanded a {
    transition: all 0s;
    position: relative;
    width: 100vw;
    height: 25vh;
    left: 0;
    z-index: 2;
}

.menu-expanded a {
    transition: all 0.15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #fff;
    display: block;
}

.menu-expanded a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.15s;
    letter-spacing: 2px;
    color: #333;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu-expanded .burger {
    background-color: transparent;
    transition: all 0.25s;
}

.menu-expanded .burger:before {
    transform: rotate(45deg);
}

.menu-expanded .burger:after {
    transform: rotate(-45deg);
}